/* Browse bar */
#browse-input
{
    -fx-background-image: url('../artwork/icons/search.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10 center;

    -fx-border-width: 3;
    -fx-border-color: black;
    -fx-border-radius: 18 18 18 18;
    -fx-background-radius: 18 18 18 18;
}


/* FILTERS SECTIONS */
.accordion
{
    -fx-border-color: #242424;
    -fx-border-width: 3;
    -fx-border-radius: 18;
    -fx-background-color: #3c3c46;
    -fx-background-radius: 18;
}

.titled-pane > .title
{
    -fx-background-color: #3c3c46;
}

.titled-pane > .title > .text
{
    -fx-fill: #e5e5e5;
}

#top-title-pane > .title
{
    -fx-background-radius: 18 18 0 0;
}

#bottom-title-pane > .title
{
    -fx-background-radius: 0 0 18 18;
}

#bottom-title-pane > *.content
{
    -fx-background-radius: 0 0 18 18;
    -fx-border-radius: 0 0 18 18;
}