/* Browse bar */
#browse-input
{
    -fx-border-width: 4;
    -fx-border-color: #242424;
    -fx-border-radius: 0 18 18 0;
    -fx-background-radius: 0 20 20 0;
}

#browse-button
{
    -fx-background-color: transparent;
    -fx-background-image: url("../artwork/UI/searchButton.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 70 66;
}


/* FILTERS SECTIONS */
.accordion
{
    -fx-border-color: #242424;
    -fx-border-width: 2 0 0 0;
    -fx-background-color: #3c3c46;
    -fx-background-radius: 0 0 19 19;
}

.titled-pane > .title
{
    -fx-background-color: #3c3c46;
}

.titled-pane > .title > .text
{
    -fx-fill: #e5e5e5;
}

#top-title-pane > .title
{
    -fx-background-radius: 18 18 0 0;
}

#bottom-title-pane > .title
{
    -fx-background-radius: 0 0 18 18;
}

#bottom-title-pane > *.content
{
    -fx-background-radius: 0 0 18 18;
    -fx-border-radius: 0 0 18 18;
}


/* Filter top pane */
#filter-base
{
    -fx-background-color: #3c3c46;
    -fx-background-radius: 18;
    -fx-border-color: #242424;
    -fx-border-width: 3;
    -fx-border-radius: 18;
}

#filter-pane
{
    -fx-background-color: #ededed;
    -fx-border-width: 1;
    -fx-border-color: #c9c9c9;
}


/* Spinner year inputs */
.spinner .increment-arrow-button,
.spinner .decrement-arrow-button
{
    -fx-padding: 2 6 2 6;
}

.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow
{
    -fx-padding: 2 3 2 3;
}

.spinner .text-field
{
    -fx-font-family: "Arial Rounded MT Bold";
}


/* Scroll bar */
.scroll-pane
{
    -fx-background-color: #3c3c46;
    -fx-background-radius: 3;
    -fx-border-color: #242424;
    -fx-border-width: 2;
    -fx-border-radius: 2;
}

.scroll-pane .scroll-bar:vertical
{
    -fx-background-color: #3c3c46;
    -fx-padding: 1 1 1 2;
}

.scroll-pane .scroll-bar:vertical .thumb
{
    -fx-background-color: #898991;
}

.scroll-pane .scroll-bar:vertical .thumb:hover
{
    -fx-background-color: #95959c;
}

.scroll-pane .scroll-bar:vertical .thumb:pressed
{
    -fx-background-color: #9c9ca1;
}

.scroll-pane .scroll-bar:vertical .track
{
    -fx-background-color: #45454f;
    -fx-border-radius: 18;
}

.scroll-pane .increment-button,
.scroll-pane .decrement-button
{
    -fx-padding: 4 1 5 1;
}

.scroll-pane .increment-button:hover,
.scroll-pane .decrement-button:hover
{
    -fx-background-color: #52525c;
}

/* VBox Content */
.vbox
{
    -fx-background-color: #ededed;
}