.text-field {
    -fx-background-image: url('../artwork/icons/search.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10 center;

    -fx-border-width: 2;
    -fx-border-color: black;
    -fx-border-radius: 32 18 18 32;
    -fx-background-radius: 32 18 18 32;
}